{% extends "admin/change_form.html" %}

{% block object-tools-items %}
    <div class="form-group">
        <a
                href="{% url 'admin:competition_teams_csv' object_id %}"
                class="btn btn-block btn-primary btn-sm"
        >
            <i class="fas fa-download"></i> Download CSV
        </a>
    </div>
    <div class="form-group">
        <a
                href="{% url 'admin:competition_teams_pdf' object_id %}"
                class="btn btn-block btn-primary btn-sm"
        >
            <i class="fas fa-download"></i> Download PDF
        </a>
    </div>
    {{ block.super }}
{% endblock %}
